:root {
  /* Primary colors */
  /* Text */
  --very-dark-desat-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient background */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral colors */
  /* Text */
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-gray-blue: hsl(240, 5%, 91%);

  /* ------ */

  --ff-kumbh: "Kumbh Sans", sans-serif;
  /* Use rem to scale to 12px */
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: var(--ff-kumbh);
  color: var(--dark-gray-blue);
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-attachment: fixed;
  margin: 14.8rem 2.4rem;
}

footer {
  color: black;
  position: relative;
  top: 13vh;
}

footer a:any-link {
  color: rgb(224, 224, 224);
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  font-size: 2.6em;
  color: var(--very-dark-desat-blue);
}

details {
  border-bottom: 1px solid var(--light-gray-blue);
  padding-bottom: 1.3rem;
  margin-bottom: 1.7rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 22px;
  padding: 2.4rem;
  padding-bottom: 3.4rem;
  box-shadow: 0px 40px 30px -17px rgb(0 0 0 / 25%);
}

.container details {
  place-self: flex-start;
  line-height: 1.5;
}

.container details p {
  padding-top: 1rem;
  max-width: 35ch;
}

.container details[open] summary {
  color: var(--very-dark-desat-blue);
  font-weight: 700;
}

.container details summary {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--very-dark-gray-blue);
}

.container details summary:active {
  color: var(--soft-red);
}

.container details summary::after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  right: 48px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Animations */

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.shadow-shrink {
  animation-name: shadow-shrink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.half-rotate-up[open] summary::after {
  transform: rotate(180deg);
  transition: 0.25s;
}

.half-rotate-down summary::after {
  transform: rotate(0deg);
  transition: 0.25s;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes shadow-shrink {
  0% {
    transform: scale(0.95);
    filter: blur(0.7px);
  }
  50% {
    transform: scale(1);
    filter: blur(0px);
  }
  100% {
    transform: scale(0.95);
    filter: blur(0.7px);
  }
}

/* Media Queries */

@media screen and (max-width: 426px) {
  .woman-desktop-image {
    display: none;
  }

  .box-desktop-image {
    display: none;
  }

  .woman-mobile-image {
    position: relative;
    bottom: 13.1rem;
    right: 1.5rem;
    z-index: 10;
  }

  .bg-pattern-mobile {
    position: relative;
    margin-top: -22rem;
  }
}

@media screen and (min-width: 427px) {
  .container details summary:hover {
    color: var(--soft-red);
  }
}
